body{
    background-color: rgb(226, 213, 213);
}
main{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.container{
    background-color: white;
    width: 1000px;
    padding: 30px;
}
/* border style */
.top-player{
    margin-bottom: 30px;
}
.section-title{
    color: rgb(22, 88, 211);
    font-size: 30px;
    margin-top: 1px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    grid-row-gap: 35px;
}
.player{
    display: flex;
    
}
.player img{
    width: 50px;
    height: 50px;
}
.player-name{
    margin-left: 20px;
}
hr{
    border: 1px solid gray;
}
/* top blog section add and blog add */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 20px;
}

.blog-info a{
    text-decoration: none;
    font-weight: bold;
}
.blog-info a:hover{
    color: red;
}
.blog img{
    width: 200px;
    height: 170px;
}
.blog-info h2{
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 40px;
}
/* latest courses add and style  */
.container{
    margin-top: 20px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
}
.fa-star.yellow{
    color: yellow;
}
.fa-star.gray{
    color: gray;
}
.course-banner img{
    width: 250px;
    height: 170px;
}
.course-icon{
    display: flex
}
.course-direction{
    margin-left: 24px;
    background-color: yellow;
    border-radius: 15px;
    padding: 3px;
}
.course-title p{
    color: rgb(236, 199, 35);
}
span{
    margin-left: 15px;
}