body{
    margin: 0;
    font-style: normal;
}
.flexible{
    display: flex;
}
.header{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    /* float: left; */
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 20px;
}
.half-width img{
    width: 100%;
    margin-top: 20px;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
p{
    font-size: 20px;
    font-weight: bold;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5%;
    padding: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.half-width p{
    margin-bottom: 50px;
}

.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-color{
    color: rgb(15, 25, 160);
    font-size: 27px;
}
/* ex-area style  */
.ex-item{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px;
}
.ex-contant{
    font-size: 60px;
    margin-left: 100px;
    font-weight: bold;
}
.ex-parent{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
}
.tomato{
    color: tomato;
    font-size: 35px;
}
.blue{
    color: blue;
    font-size: 35px;
    text-align: center;
}
#border-style-left {
    border-left: 7px solid;
    border-image: linear-gradient(blue, red);
    border-image-slice: 1;
}
#border-style-right {
    border-left: 7px solid;
    border-image: linear-gradient(tomato, cyan);
    border-image-slice: 1;
}
.footer-link{
    text-align: center;
    background-image: linear-gradient(white,gray);
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
}
.footer-link a{
    text-decoration: none;
    font-weight: bold;
    color: red;
}
.footer-link :hover{
    color: black;
}
